.sideBar {
    position: relative;
    left: 0%;
    margin: 0;
    background-color: #6699ff;
    width: 150px;
    color: white;
}
a {
    color: white;
}
body {
    background-color: white;
}
.top {
    background-color: #1a1aff;
    height: 50px;
    font-size: 2em;
    color: white;
    margin: 0;
}
.center {
    width: 500px;
    height: 250px;
    position: fixed;
    top: 35%;
    left: 35%;
}
