.sideBar {
    position: relative;
    left: 0%;
    top: 0%;
    background-color: #1a1aff;
    width: 200px;
    color: white;
}
a {
    color: white;
}
body {
    background-color: white;
}
.top {
    background-color: #1a1aff;
    height: 50px;
    font-size: 2em;
    color: white;
}
.center {
    width: 500px;
    height: 250px;
    position: fixed;
    top: 35%;
    left: 35%;
}
