.login:link,.login:visited{background-color:black;color:white;padding:14px 25px;text-align:center;text-decoration:none;display:inline-block;font-size:25px;border-radius:10px;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position:relative;left:60px;top:50px}.login:hover,.login:active{box-shadow:0 4px 8px 0 rgba(100, 0, 0, 0.5), 0 6px 20px 0 rgba(100, 0, 0, 0.19);color:red}.signin:link,.signin:visited{background-color:black;color:white;padding:14px 25px;text-align:center;text-decoration:none;display:inline-block;font-size:25px;border-radius:10px;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position:relative;left:90px;top:50px}.signin:hover,.signin:active{box-shadow:0 4px 8px 0 rgba(100, 0, 0, 0.5), 0 6px 20px 0 rgba(100, 0, 0, 0.19);color:red}.deff {
    background: #E1DEDD;
    width: 500px;
    height: 250px;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 2)
;
}
.def {
    background: black;
    width: 500px;
    height: 325px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 2)
;
}
.intro {
    text-align: center;
    margin: 10px
;
}
h1 {
    text-align: center;
    color: white;
    text-size: 40px;
}
body {
    background-image: url(http://localhost:3000/static/img/background.jpg?etag=V_5gR7Ca);
}
#header {
    display: none;
}
#login {
    background: #E1DEDD;
    width: 500px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 2)
;
}
