.center {
    border-style: double;
    border-radius: 10px;
    background-color: white;
}
.center .required {
    position: relative;
    left: 25%;
    top: 35%;
}
.center button {
    position: relative;
    left: 25%;
    top: 35%;
}
body {
    background-color: #cce6ff
;
}
.top {
    background: white;
    height: 50px;
    color: black;
    margin: 0;
}
.center {
    width: 500px;
    height: 250px;
    position: fixed;
    top: 35%;
    left: 35%;
}
.home,.home:hover,.home:active,.home:visited {
    position: relative;
    left: 1%;
    color: #000;
    font-size: 2em;
    text-decoration: none;
}
.logout {
    position: relative;
    left: 65%;
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
}
.addDevice {
    position: relative;
    left: 58%;
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
}
